# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.whl
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from PyInstaller
#  or are created during the packaging process
build/
dist/
*.spec

# Django stuff:
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
media/

# Environments
venv/
.venv/
env/
.env/

# IDEs and Editors
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*

# OS or Temporary files
*.DS_Store
*.swp
*.bak
*.tmp
Thumbs.db
.cache/
.history/